<div class="formulario">
    <form action="">
        <div class="search" >

            <input #searchBox id="search-box" placeholder="Search for a country..." (input)="search(searchBox.value)" [ngClass]="isOpen? 'my_class1' : 'none'" />


            <svg class="icono" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>
            
        </div>
        

    </form>
    <ul class="search-result">
        <li *ngFor="let pais of paises$ | async" >
          
            <img src={{pais.flags.png}} alt={{pais.flags.alt}}>
          
          <a routerLink="/detail/{{pais.name.common}}">
            {{ pais.name.common}}
          </a>
        </li>
      </ul>
</div>
